<div class="wrapper">
    <div class="page-title-box">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Dashboard</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Welcome to Holiday Wagon CRM Dashboard</li>
                    </ol>

                </div>
            </div>
        </div>
        <!-- end container-fluid -->

    </div>
    <!-- page-title-box -->

    <div class="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary mini-stat position-relative">
                        <div class="card-body">
                            <div class="mini-stat-desc">
                                <h6 class="text-uppercase verti-label text-white-50">Leads</h6>
                                <div class="text-white">
                                    <h6 class="text-uppercase mt-0 text-white-50">Yesterday's lead</h6>
                                    <h3 class="mb-3 mt-0">10</h3>
                                </div>
                                <div class="mini-stat-icon">
                                    <i class="mdi mdi-cube-outline display-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary mini-stat position-relative">
                        <div class="card-body">
                            <div class="mini-stat-desc">
                                <h6 class="text-uppercase verti-label text-white-50">leads</h6>
                                <div class="text-white">
                                    <h6 class="text-uppercase mt-0 text-white-50">Leads this month so far</h6>
                                    <h3 class="mb-3 mt-0">500</h3>
                                    
                                </div>
                                <div class="mini-stat-icon">
                                    <i class="mdi mdi-buffer display-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary mini-stat position-relative">
                        <div class="card-body">
                            <div class="mini-stat-desc">
                                <h6 class="text-uppercase verti-label text-white-50">un-group</h6>
                                <div class="text-white">
                                    <h6 class="text-uppercase mt-0 text-white-50">ungroup Leads (pending leads)</h6>
                                    <h3 class="mb-3 mt-0">260</h3>
                                </div>
                                <div class="mini-stat-icon">
                                    <i class="mdi mdi-tag-text-outline display-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary mini-stat position-relative">
                        <div class="card-body">
                            <div class="mini-stat-desc">
                                <h6 class="text-uppercase verti-label text-white-50">Group Leads</h6>
                                <div class="text-white">
                                    <h6 class="text-uppercase mt-0 text-white-50">Group Leads</h6>
                                    <h3 class="mb-3 mt-0">240</h3>
                                </div>
                                <div class="mini-stat-icon">
                                    <i class="mdi mdi-briefcase-check display-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                        <div class="col-md-12 row">
                            <div class="col-md-11">
                               <h4 class="mt-0 header-title mb-4">Todays Leads</h4>
                            </div>
                           <div class="col-md-1">
                                    <h4 style="margin-top:0px; "><a href="home/claimLead" class="btn btn-success waves-effect waves-light">Claim </a>
                                    </h4>
                            
                           </div>
                        </div>
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                      <tr>
                                        <th scope="col">Lead Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Lead Owner</th>
                                        <th scope="col">Duplicate</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    
                                      <tr>
                                        <td><a target="_blank" href="lead/view/id">Lead one</a></td>
                                        <td>lead@email.com</td>
                                        <td>9981809624</td>
                                        <td>Rakesh Shukla</td>
                                        <td>NO</td>
                                      </tr>
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mt-0 header-title mb-4">Yesterday's Leads:</h4>
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                      <tr>
                                        <th scope="col">Lead Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Lead Owner</th>
                                        <th scope="col">Duplicate</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
	                                        <td><a target="_blank" href="lead/view/id">Lead one</a></td>
	                                        <td>lead@email.com</td>
	                                        <td>9981809624</td>
	                                        <td>Rakesh Shukla</td>
	                                        <td>NO</td>
                                      	</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end page content-->

</div>