<!-- page wrapper start -->
<div class="wrapper">
    <div class="page-title-box">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Change Password</h4>
                </div>
            </div>
        </div>
        <!-- end container-fluid -->
    
    </div>
    <!-- page-title-box -->

    <div class="page-content-wrapper">
        <div class="container-fluid">
        <alert></alert>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
			                <form class="form-horizontal m-t-30"  [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
			                    <fieldset>
			                        <div class="form-group">
			                            <label>Old Password<span class="required">*</span></label>
			                            <input class="form-control" placeholder="Old Password" name="old_password" type="password" formControlName="oldPassword"  autofocus [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }">
		                             	<div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
				                            <div *ngIf="f.oldPassword.errors.required">Old Password is required</div>
				                        </div>
			                        </div>
			                        <div formGroupName="confirmPasswordGroup" [ngClass]="{'is-invalid has-errors': submitted && f.confirmPasswordGroup.errors}">
				                        <div class="form-group">
				                            <label>New Password<span class="required">*</span></label>
				                            <input class="form-control" placeholder="Password" name="password" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.confirmPasswordGroup.controls.password.errors }">
			                             	<div *ngIf="submitted && f.confirmPasswordGroup.controls.password.errors" class="invalid-feedback">
					                            <div *ngIf="f.confirmPasswordGroup.controls.password.errors.required">Password is required</div>
					                        </div>
					                        
			                             	
				                        </div>
				                        <div class="form-group">
				                            <label>Confirm New Password<span class="required">*</span></label>
				                            <input class="form-control" placeholder="Confirm Password" name="rePassword" type="password" formControlName="confPassword" [ngClass]="{ 'is-invalid': submitted && (f.confirmPasswordGroup.controls.confPassword.errors || f.confirmPasswordGroup.errors) }">
			                             	<div *ngIf="submitted && f.confirmPasswordGroup.controls.confPassword.errors" class="invalid-feedback">
					                            <div *ngIf="f.confirmPasswordGroup.controls.confPassword.errors.required">Confirm password is required</div>
					                            
					                        </div>
					                        <div *ngIf="submitted && f.confirmPasswordGroup.errors" class="invalid-feedback">
					                            <div *ngIf="!f.confirmPasswordGroup.controls.confPassword.errors && f.confirmPasswordGroup.errors.notEqual">Password and Confirm password Should be same</div>
					                        </div>
				                        </div>
				                        
				                    </div>
				                    

			                        <!-- Change this to a button or input when using this as a form -->
			                        <button type="submit" class="btn btn-lg btn-success col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-xs-offset-4">Submit</button>
			                    </fieldset>

			                </form>
			                

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end page content-->

</div>
<!-- page wrapper end -->
